.heroSection {
  padding-top: 13vw;
  background-image: url(../../../../img/shared/bg`s/hero-bg.jpg);
  background-position: top -21.3vw center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.heroCont {
  padding-top: 13.6vw;
  padding-bottom: 21.3vw;
}

.arrow {
  fill: var(--text-dark);
  stroke: var(--text-dark);
}

.arrowCont {
  background-color: var(--bg-primary);
}

@media screen and (min-resolution: 192dpi) {
  .heroSection {
    background-image: url(../../../../img/shared/bg`s/hero-bg@2x.jpg);
    background-size: 100%;
  }
}

.subtitle {
  width: 54.1vw;
  font-family: "Druk Cyr";
  font-size: 16.5vw;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: uppercase;
  transform: scaleX(0.9);
  transform-origin: left;
}

.pageTitle {
  width: 65.3vw;
  margin-bottom: 13.6vw;

  font-size: 16.5vw;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: uppercase;
  transform: scaleX(0.9);
  transform-origin: left;
}

.advantagesCont {
  padding-top: 13.3vw;
  padding-bottom: 13.3vw;
}

.sectionTitle {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.desktopBg {
  display: none;
}

@media screen and (min-width: 768px) {
  .heroSection {
    background-image: url(../../../../img/shared/bg`s/hero-bg-desktop.jpg);
    background-position: top 13vw center;
    background-size: 150vw 168.8vw;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .heroSection {
    background-image: url(../../../../img/shared/bg`s/hero-bg-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .heroSection {
    padding-top: 12.7vw;
    background-size: 168vw auto;
  }
}

@media screen and (min-width: 1440px) {
  .heroSection {
    position: relative;
    padding-top: 9.4vw;
    background-image: linear-gradient(
      0deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 42.1vw,
      transparent 42.1vw
    );

    background-position: top center;
  }

  .heroCont {
    padding-top: 5.7vw;
    padding-bottom: 5.5vw;
  }

  .desktopBg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -100;
  }

  .subtitle {
    width: 18.5vw;
    font-size: 3.4vw;
  }

  .pageTitle {
    width: 48.6vw;
    font-size: 11.6vw;
    margin-bottom: 2.1vw;
  }

  .advantagesCont {
    position: relative;

    padding-top: 1.4vw;
    padding-bottom: 6.3vw;
  }

  .sectionTitle {
    position: static;
    width: auto;
    height: auto;
    margin: 0px;
    clip-path: none;

    font-size: 6.9vw;
    text-transform: uppercase;
    margin-bottom: 2.1vw;
  }
}
