.heroSection {
  padding-top: 68px;
  background-image: url(../../../../img/shared/bg`s/hero-bg.jpg);
  background-position: top -29px center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.heroCont {
  padding-top: 51px;
  padding-bottom: 80px;
}

.arrow {
  fill: var(--text-dark);
  stroke: var(--text-dark);
}

.arrowCont {
  background-color: var(--bg-primary);
}

@media screen and (min-resolution: 192dpi) {
  .heroSection {
    background-image: url(../../../../img/shared/bg`s/hero-bg@2x.jpg);
    background-size: 100%;
  }
}

.subtitle {
  width: 203px;
  font-family: "Druk Cyr";
  font-size: 62px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: uppercase;
  transform: scaleX(0.9);
  transform-origin: left;
}

.pageTitle {
  width: 245px;
  margin-bottom: 51px;

  font-size: 62px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: uppercase;
  transform: scaleX(0.9);
  transform-origin: left;
}

.advantagesCont {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sectionTitle {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.desktopBg {
  display: none;
}

@media screen and (min-width: 375px) {
  .heroSection {
    padding-top: 84px;
  }
}

@media screen and (min-width: 768px) {
  .heroSection {
    padding-top: 87px;
    background-image: url(../../../../img/shared/bg`s/hero-bg-desktop.jpg);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .heroSection {
    background-image: url(../../../../img/shared/bg`s/hero-bg-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .heroSection {
    padding-top: 121px;
  }
}

@media screen and (min-width: 1440px) {
  .heroSection {
    position: relative;
    padding-top: 129px;
    padding-bottom: 60px;

    background-image: linear-gradient(
      0deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 470px,
      transparent 100%
    );

    background-position: top center;
  }

  .desktopBg {
    display: block;
    width: 100%;
    height: 120%;
    position: absolute;
    bottom: 0px;
    z-index: -100;
  }

  .advantagesCont {
    position: relative;
  }

  .pageTitle {
    width: 683px;
    font-size: 165px;
    margin-bottom: 41px;
  }

  .subtitle {
    width: 370px;
    font-size: 49px;
  }
}
