.button {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.buttonText {
  font-family: "Druk Cyr", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.9;

  color: white;
}

.menuBurger {
  position: relative;
  width: 24px;
  height: 24px;

  transition: transform ease-in-out 500ms;
}

.burgerIcon {
  position: absolute;
  width: 6px;
  height: 6px;
}

.burgerIcon:nth-child(1) {
  top: 0;
  left: 0;
}

.burgerIcon:nth-child(2) {
  top: 0;
  right: 0;
}

.burgerIcon:nth-child(3) {
  bottom: 0;
  right: 0;
}

.burgerIcon:nth-child(4) {
  bottom: 0;
  left: 0;
}

.button:hover .menuBurger {
  transform: rotateZ(360deg);
}

@media screen and (min-width: 1024px) {
  .button {
    gap: 18px;
  }

  .buttonText {
    font-size: 36px;
  }

  .menuBurger {
    width: 32px;
    height: 32px;
  }

  .burgerIcon {
    width: 10px;
    height: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .buttonText {
    color: black;
  }
}
