.button {
  display: flex;
  align-items: flex-end;
  gap: 3.1vw;
}

.buttonText {
  font-family: "Druk Cyr", sans-serif;
  font-size: 6.9vw;
  font-weight: 700;
  line-height: 0.9;

  color: white;
}

.menuBurger {
  position: relative;
  width: 6vw;
  height: 6vw;

  transition: transform ease-in-out 500ms;
}

.burgerIcon {
  position: absolute;
  width: 1.9vw;
  height: 1.9vw;
}

.burgerIcon:nth-child(1) {
  top: 0;
  left: 0;
}

.burgerIcon:nth-child(2) {
  top: 0;
  right: 0;
}

.burgerIcon:nth-child(3) {
  bottom: 0;
  right: 0;
}

.burgerIcon:nth-child(4) {
  bottom: 0;
  left: 0;
}

.button:hover .menuBurger {
  transform: rotateZ(360deg);
}

@media screen and (min-width: 1024px) {
  .button {
    gap: 1.9vw;
  }
}

@media screen and (min-width: 1440px) {
  .buttonText {
    color: black;
    gap: 0.9vw;
    font-size: 2.5vw;
  }

  .burgerIcon {
    width: 0.6vw;
    height: 0.6vw;
  }

  .menuBurger {
    width: 2.2vw;
    height: 2.2vw;
  }
}
