.button {
  display: flex;
  align-items: center;
}

.buttonText {
  position: relative;
  display: inline-block;
  padding: 6.7vw;
  margin-right: 0.8vw;

  transition: background-color ease-in-out 250ms;

  background-color: transparent;
  color: var(--text-dark);

  border: 1px solid #000;
  border-image: radial-gradient(
      circle at center,
      rgb(255, 255, 255) 0%,
      rgba(21, 21, 21, 0.1) 25%,
      rgb(255, 255, 255) 50%,
      rgba(21, 21, 21, 0.1) 75%,
      rgb(255, 255, 255) 100%
    )
    1;

  font-size: 3.7vw;
  font-weight: 800;
  text-transform: uppercase;
}

.corner {
  position: absolute;

  width: 2.7vw;
  height: 2.7vw;

  transition: all ease-in-out 250ms;

  fill: var(--text-dark);
}

.topLeft {
  top: -1px;
  left: -1px;
}

.bottomLeft {
  bottom: -1px;
  left: -1px;

  transform: rotateZ(-90deg);
}

.topRight {
  top: -1px;
  right: -1px;

  transform: rotateZ(90deg);
}

.bottomRight {
  bottom: -1px;
  right: -1px;

  transform: rotateZ(180deg);
}

.arrowCont {
  display: inline-block;
  padding: 7.2vw;
}

.arrow {
  width: 3.5vw;
  height: 3.5vw;

  transition: transform ease-in-out 250ms;

  stroke: currentColor;
  fill: var(--text-dark);
  outline: none;
  user-select: none;
  -webkit-appearance: none;
}

.button:hover .buttonText {
  background-color: var(--bg-primary);
}

.button:hover .arrow {
  transform: rotateZ(45deg);
}

.button:hover .topLeft {
  top: 6px;
  left: 6px;
}

.button:hover .topRight {
  top: 6px;
  right: 6px;
}

.button:hover .bottomLeft {
  bottom: 6px;
  left: 6px;
}

.button:hover .bottomRight {
  bottom: 6px;
  right: 6px;
}

@media screen and (min-width: 1440px) {
  .buttonText {
    padding: 2.5vw 4vw 2.5vw 4vw;

    font-size: 1.5vw;
  }

  .corner {
    width: 1.2vw;
    height: 1.2vw;
  }

  .arrowCont {
    padding: 2.8vw;
  }

  .arrow {
    width: 1.4vw;
    height: 1.4vw;
  }
}
