.section {
  padding-top: 16vw;
  padding-bottom: 18.9vw;
  overflow: hidden;
}

.sectionTitle {
  width: 92.1vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11.7vw;

  font-size: 16.5vw;
  font-weight: 700;
  line-height: 1;

  text-transform: uppercase;
  text-align: center;
}

.orderCourseBtn {
  display: none;
  margin: 0 auto;
}

.arrowCont {
  background-color: var(--bg-primary);
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 7.1vw;
    padding-bottom: 8.9vw;
  }

  .sectionCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .orderCourseBtn {
    display: block;
  }

  .sectionTitle {
    width: 30vw;
    margin-left: 0;
    margin-bottom: 5.6vw;

    font-size: 6.9vw;
    text-align: left;
  }

  .orderCourseBtn {
    margin: 0;
    margin-right: auto;
  }
}
