.warningCont {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.2vw;

  padding-top: 21.1vw;
  padding-bottom: 21.1vw;
  padding-left: 5.3vw;
  padding-right: 5.3vw;

  transition: background-color ease-in-out 250ms;

  color: var(--text-light);
  background-color: black;

  border-radius: 5.9vw;
}

.warning {
  width: 69.3vw;
  font-size: 2.7vw;
  font-weight: 600;
  text-align: center;
  color: var(--text-light);
}

@media screen and (min-width: 375px) {
  .warning {
    font-size: 3.7vw;
  }
}

@media screen and (min-width: 768px) {
  .warningCont {
    padding-top: 10.3vw;
    padding-bottom: 10.3vw;

    grid-column: span 2 / span 2;
  }

  .warning {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 1024px) {
  .warningCont {
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .warningCont {
    grid-column: span 3 / span 3;
    grid-column-start: 2;

    flex-direction: row;

    width: 68.3vw;

    padding-top: 5.4vw;
    padding-bottom: 5.4vw;
    padding-right: 4.1vw;
    padding-left: 4.1vw;

    gap: 0px;

    position: relative;
    right: 0.3vw;
    bottom: 0.3vw;

    background-color: transparent;
    border: 0.3vw solid #ffffff;
    border-radius: 1.5vw;
  }

  .warning {
    width: 17.3vw;
    padding-right: 2.7vw;
    padding-left: 2.7vw;
    font-size: 0.7vw;
  }

  .warningCont:hover {
    background-color: #fff;
    color: black;
  }

  .warningCont:hover .warning {
    color: black;
  }

  .warningCont:hover .iconFill {
    fill: black;
  }
}
