.header {
  width: 100%;
  background-color: #000000;
  position: fixed;
  z-index: 100;

  transition: background-color ease-in-out 250ms;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: auto;

  padding-top: 2vw;
  padding-bottom: 2vw;
}

.companyLogo {
  fill: white;
  width: 7.2vw;
  height: 8.5vw;
}

@media screen and (min-width: 1024px) {
  .scrolled {
    background-color: black;
  }

  .scrolled button span {
    color: white;
  }

  .scrolled .companyLogo {
    fill: white;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    background-color: transparent;
  }

  .companyLogo {
    fill: black;
    width: 4.5vw;
    height: 5.3vw;
  }

  .scrolled {
    background-color: black;
  }
}
