.list {
  display: grid;
  width: auto;
  gap: 3.2vw;
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;

    margin-bottom: 0;
  }
}
