.swiperCont {
  position: relative;
}

.swiper {
  width: 250px;
  height: 420px;

  margin-bottom: 61px;
}

.swiperButtonsMobile {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.button {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color ease-in-out 250ms;

  background-color: var(--bg-primary);
}

.buttonDark {
  background-color: black;
}

.icon {
  width: 16px;
  height: 16px;
}

.arrowPrev {
  transform: rotateZ(180deg);
}

.navBtnTablet {
  display: none;
  visibility: hidden;
}

.orderCourseBtn {
  width: 100%;
  margin-top: 41px;
  display: flex;
  justify-content: center;
}

.joinTheCourseIconCont {
  background-color: var(--bg-primary);
}

@media screen and (min-width: 375px) {
  .swiper {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .swiper {
    margin-bottom: 0;
  }

  .swiperButtonsMobile {
    display: none;
    visibility: hidden;
  }

  .navBtnTablet {
    position: absolute;
    z-index: 10;

    display: flex;
    visibility: visible;

    background-color: black;
    fill: var(--bg-primary);
  }

  .prevNavBtnTablet {
    left: 32px;
    top: 50%;

    transform: translate(0%, -50%);
  }

  .nextNavBtnTablet {
    right: 32px;
    top: 50%;

    transform: translate(0, -50%);
  }
}

@media screen and (min-width: 1440px) {
  .nextNavBtnTablet {
    right: 0;
  }

  .prevNavBtnTablet {
    left: 0;
  }

  .swiperCont {
    width: 708px;
    padding-top: 20px;
  }

  .swiper {
    width: 448px;
    height: auto;
  }

  .orderCourseBtn {
    display: none;
  }
}
