.swiperCont {
  position: relative;
}

.swiper {
  width: 78.1vw;
  height: 131.3vw;

  margin-bottom: 19.1vw;
}

.swiperButtonsMobile {
  display: flex;
  justify-content: center;
  gap: 3.8vw;
}

.button {
  width: 18.8vw;
  height: 18.8vw;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color ease-in-out 250ms;

  background-color: var(--bg-primary);
}

.buttonDark {
  background-color: black;
}

.icon {
  width: 5vw;
  height: 5vw;
}

.arrowPrev {
  transform: rotateZ(180deg);
}

.navBtnTablet {
  display: none;
  visibility: hidden;
}

.orderCourseBtn {
  width: 100%;
  margin-top: 12.8vw;
  display: flex;
  justify-content: center;
}

.joinTheCourseIconCont {
  background-color: var(--bg-primary);
}

@media screen and (min-width: 375px) {
  .swiper {
    width: 74.7vw;
  }
}

@media screen and (min-width: 768px) {
  .swiper {
    width: 50vw;
    height: 73.2vw;
    margin-bottom: 0;
  }

  .swiperButtonsMobile {
    display: none;
    visibility: hidden;
  }

  .button {
    width: 10.5vw;
    height: 10.5vw;
  }

  .icon {
    width: 2.8vw;
  }

  .navBtnTablet {
    position: absolute;
    z-index: 10;

    display: flex;
    visibility: visible;

    background-color: black;
    fill: var(--bg-primary);
  }

  .prevNavBtnTablet {
    left: 4.2vw;
    top: 50%;

    transform: translate(0, -150%);
  }

  .nextNavBtnTablet {
    right: 4.2vw;
    top: 50%;

    transform: translate(0, -150%);
  }
}

@media screen and (min-width: 1440px) {
  .nextNavBtnTablet {
    right: 0;

    transform: translate(0, -50%);
  }

  .prevNavBtnTablet {
    left: 0;

    transform: translate(0, -50%);
  }

  .button {
    width: 3.3vw;
    height: 3.3vw;
  }

  .icon {
    width: 0.8vw;
  }

  .swiperCont {
    width: 49.2vw;
    padding-top: 1.4vw;
  }

  .swiper {
    width: 31.1vw;
    height: 36.5vw;
    height: auto;
  }

  .orderCourseBtn {
    display: none;
  }
}
